<h1>Registro de Manifesto<h1>
<h2> id:{{ id }} </h2>
<h2> Chat:{{ chat_id }} </h2>
<h2> Registro:{{ reg }} </h2>
<h2> Celular:{{ cellphone }} </h2>
<h2> Paciente:{{ name_pac }} </h2>
<h2> Médico:{{ medic_einvolved }} </h2>
<h2> Recepcionista:{{ employee_einvolved }} </h2>
<h2> Título:{{ mainsubject }} </h2>
<h2> Gestor Responsável:{{ user_resposible }} </h2>
<h2> Assunto Principal:{{ mainsubject }} </h2>
<h2> Data Limite:{{ date_limit }} </h2>
<h2> Causa Raiz:{{ root_cause }} </h2>
<h2> Ação:{{ action }} </h2>
<h2> Obs:{{ Obs }} </h2>


